:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
}
body {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
  background-color: var(--color-white);
}
.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
  color: var(--color-navy-blue);
}
.address-link {
  text-decoration: none;
  color: var(--color-slate);
}
.link:hover,
.link:focus {
  color: var(--color-ocean);
}
.list {
  list-style-type: none;
}
/**
  |============================
  | Header
  |============================
*/
.cont {
  display: inline-flex;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 0px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
}
.header-link {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-left: 156px;
}
.logo-text {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}
.header-list {
  display: inline-flex;
  gap: 24px;
  letter-spacing: 0.02em;
  margin-left: 76px;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.contact {
  font-style: normal;
  margin-left: 332px;
}
.contact-list {
  color: var(--color-slate);
  display: inline-flex;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
  gap: 40px;
}
.contact-list:hover,
.contact-list:focus {
  color: var(--color-ocean);
}
.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/**
  |============================
  | Hero Section
  |============================
*/
.hero-section {
  margin-bottom: 120px;
  background-color: var(--color-navy-blue);
  color: var(--color-white);
}
.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  height: 120px;
  margin-left: 500px;
  padding-top: 174px;
  margin-bottom: 48px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  gap: 15px;
  color: var(--color-white);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 668px;
  margin-bottom: 204px;
  margin-top: 100px;
  margin-right: 667px;
}
.button-text {
  text-transform: capitalize;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}
.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
/**
  |============================
  | Description
  |============================
*/
.desc-section {
  min-width: 1128px;
  min-height: 104px;
  letter-spacing: 0.02em;
}
.desc-list {
  display: inline-flex;
  letter-spacing: 0.02em;
  gap: 24px;
  margin-left: 156px;
  margin-bottom: 0;
}
.desc-item {
}
.desc-title {
  width: 264px;
  height: 24px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: capitalize;
}
.desc-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-bottom: 120px;
}
/**
  |============================
  | About Section
  |============================
*/
.about-section {
  margin-bottom: 72px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.about-list {
  display: inline-flex;
  margin: 0 auto;
  padding-left: 156px;
  gap: 24px;
}
.about-item {
  padding: 0px;
}
.about-img {
}
/**
  |============================
  | Team Section
  |============================
*/
.team-section {
  margin-bottom: 0px;
  background-color: var(--color-cloud);
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  padding-top: 120px;
  padding-bottom: 72px;
}
.team-list {
  display: inline-flex;
  padding-bottom: 120px;
  margin-bottom: 0%;
  padding-left: 156px;
  gap: 32px;
}
.team-item {
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  margin-bottom: 0px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  padding-bottom: 8px;
}
.small-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.card-content {
  margin: 32px 16px;
  text-align: center;
  letter-spacing: 0.02em;
}
/**
  |============================
  | Footer
  |============================
*/
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-navy-blue);
}
.footer {
  margin-left: 156px;
}
.footer-link {
  margin-left: 0px;
  margin-bottom: 16px;
  display: inline-flex;
}
.footer-logo-text {
  width: 71px;
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
  order: 1;
  flex-grow: 0;
}
.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cloud);
}
/**
  |============================
  | Portfolio
  |============================
*/
.nav-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 586px;
  height: 48px;
  left: 427px;
  top: 168px;
  margin-top: 96px;
  margin-left: 476px;
  margin-bottom: 72px;
}
.main-btn {
  cursor: pointer;
  height: 48px;
  padding: 12px 24px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  color: var(--color-iris);
  font-weight: 500;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 156px;
  margin-right: 156px;
  margin-bottom: 120px;
}
.porfolio-item {
  border: 1px solid #e7e9fc;
  margin-bottom: 46px;
}
.row-section {
}
.first-row-list {
}
.row-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-top: 32px;
  margin-left: 16px;
}
.row-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: 16px;
}
